<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/common-layout :: commonLayout(~{this::head},~{this::main} )}">
<head>
<link rel="stylesheet" href="/css/signup.css">
<script src="/js/department.js"></script>
<link rel="stylesheet" href="/css/approval/homeTemp.css">
<!-- <link rel="stylesheet" href="/css/department/side.css" /> -->
<script
	src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript">
	function findAdress() {
		new daum.Postcode({
			oncomplete : function(data) {
				// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

				// 각 주소의 노출 규칙에 따라 주소를 조합한다.
				// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
				var addr = ''; // 주소 변수
				var extraAddr = ''; // 참고항목 변수

				//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
				if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
					addr = data.roadAddress;
				} else { // 사용자가 지번 주소를 선택했을 경우(J)
					addr = data.jibunAddress;
				}

				// 우편번호와 주소 정보를 해당 필드에 넣는다.
				//document.getElementById('sample6_postcode').value = data.zonecode;
				document.getElementById("adress").value = addr;
				// 커서를 상세주소 필드로 이동한다.
				document.getElementById("detail_adress").focus();
			}
		}).open();
	}
</script>
<script type="text/javascript">
	function changedImg(element) {

		var formData = new FormData();
		formData.append("img", $(element)[0].files[0]);

		$.ajax({
			url : "/members/temp-upload",
			data : formData,
			type : "post",
			contentType : false,
			processData : false,
			success : function(result) {
				var orgname = $("<input type='hidden' name='newName'>").val(
						result.newName);

				//$(element).parents(".btn-file")
				$(element).parent().css("background-image",
						`url(${result.url})`);
				//tempkey.val(result.orgName);
				$(element).after(orgname);
				//$(element).siblings(".orgName").val(result.orgName);
			}
		});
	}
</script>
<script type="text/javascript">

	$(document).ready(function() {
		$('#id').keyup(function() {
			let member_id = $('#id').val();
			if(checkPatternId(member_id)){
				checkExistId();
			}else {
				$(".danger").html('사원번호를 정확히 입력해주세요');
				$(".danger").css('color', '#f15746');
				$(".join_button").prop("disabled", true);
			}
		})
		$('#id').blur(function() {
			let member_id = $('#id').val();
			if(checkPatternId()){
				checkExistId();
			}
		})
	});
	
	//아이디 패턴 검사 코드
	function checkPatternId(member_id) {
		return /^\d{8}$/.test(member_id);
	}
	
	//아이디 중복 검사 코드
	function checkExistId() {
		let member_id = $('#id').val();
		$.ajax({
			url : "/memberIdCheck",
			type : "get",
			data : {
				member_id : member_id
			},
			dataType : 'json',
			success : function(result) {
				if (result) {
					$(".danger").html('이미 존재하는 사원번호입니다.');
					$(".danger").css('color', '#f15746');
					$(".join_button").prop("disabled", true);
				} else {
					$(".danger").html('사용할 수 있는 사원번호입니다..');
					$(".danger").css('color', '#2fb380');
					$(".join_button").prop("disabled", false);
				}
			},
			error : function() {
				alert("서버요청실패");
			}
		})
	};
	
</script>
</head>
<body>
	<main class="warp-main">
		<div th:replace="~{department/sideTemp :: side}"></div>
		<div style="flex: 1">
			<th:block th:replace="~{layout/header :: header}"></th:block>
			<div class="main flex center">
				<form action="/members" method="post">
					<div class="join_area">
						<h1 class="join_tilte">사원등록</h1>
						<div class="add_img flex center">
							<label class="btn-file"> <input type="file"
								accept="image/*" onchange="changedImg(this)"> <img
								src="/img/plus-icon.png">
							</label>
						</div>
						<div>
							<label for="id">아이디</label> <input type="text" id="id" name="id"
								placeholder="사원번호를 입력해주세요 ex) 숫자 8자리" required="required">
							<p class="danger"></p>
						</div>
						<div>
							<label for="pass">비밀번호</label> <input type="password" id="pass"
								placeholder="최초 비밀번호는 아이디랑 같습니다." required readonly="readonly">
						</div>
						<div>
							<label for="name">이름</label> <input type="text" id="name"
								name="name" placeholder="예) 김대리" required="required">
						</div>
						<div>
							<label>부서</label> <select name="deptId" onchange="updateRank()"
								id="dept">
								<option th:each="dept : ${deptList}" th:value="${dept.deptId}"
									th:text="${dept.deptName}"></option>
							</select>
						</div>
						<div id="rank">
							<label>직급</label> <select name="rank" id="rankSelect">
								<option value="Assistant">사원</option>
								<option value="SeniorAssistant">대리</option>
								<option value="Manager">과장</option>
								<option value="SeniorManager">부장</option>
								<option value="StoreManager">점장</option>
							</select>
						</div>
						<div>
							<label for="tel">전화번호</label> <input type="tel" id="tel"
								name="tel" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}"
								placeholder="010-1234-5678" required="required">
						</div>
						<div>
							<label for="tel">주소<a onclick="findAdress()"
								class="find-adress">주소찾기</a></label> <input type="tel" id="adress"
								name="adress" placeholder="기본주소" required="required"> <input
								id="detail_adress" type="text" placeholder="상세주소"
								name="addressDetail" required="required">
						</div>
						<div>
							<label for="birth_date">생년월일</label> <input type="date"
								id="birth_date" name="birthDate" required="required">
						</div>
						<div>
							<label for="joinCompanyDate">입사일</label> <input type="date"
								id="joinCompanyDate" name="joinCompanyDate" required="required">
						</div>
						<div class="button_area">
							<button class="join_button" disabled="disabled">
								<span>등록하기</span>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<script type="text/javascript">
			function updateRank() {
				// 부서 선택 값 가져오기
				var deptSelect = document.getElementById("dept");
				var selectedDept = deptSelect.value;
				// 직급을 감추기 위한 조건 설정
				var rankDiv = document.getElementById("rank");
				if (selectedDept == 8000) { // 예시 부서에 따라 변경 필요
					rankDiv.style.display = "none";

					document.getElementById("rankSelect").value = "StoreManager";
					alert("직급이 점장으로 자동 선택됩니다.")
				} else {
					rankDiv.style.display = "block";
				}
			}
		</script>
	</main>
</body>
</html>