<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/common-layout :: commonLayout(~{this::head},~{this::main} )}">
<head>
<script src="/js/department.js"></script>
<link rel="stylesheet" href="/css/department/side.css" />
<link rel="stylesheet" href="/css/Franchise/fr.css" />
</head>
<body>
	<main class="warp-main">
		<div th:replace="~{department/side :: side}"></div>
		<div class="container">
			<div class="title">
				<ul class="ttl">
					<li>매장관리</li>
				</ul>
			</div>
			<div class="list">
				<div class="ist">
					<ul class="st">
						<li>매장이름</li>
						<li>주소</li>
						<li>상세주소</li>
						<li>전화번호</li>
						<li>개업일</li>
					</ul>
				</div>
			</div>
			<div th:each="post : ${list}">
				<div class="posttext" th:if="${post.closedAt == null}">
					<div class="title">
						<div th:href="'/fr/' + ${post.id}" th:text="${post.name}"></div>
					</div>
					<div>
						<div class="address" th:text="${post.address}"></div>
					</div>
					<div>
						<div class="address" th:text="${post.address2}"></div>
					</div>
					<div>
						<div class="ph" th:text="${post.ph}"></div>
					</div>
					<div class="date" th:text="${#temporals.format(post.createdAt)}"></div>
					<form action="/fr/register" method="post">
						<div>
							<button type="submit">폐업</button>
							<input type="hidden" name="id" th:value="${post.id}">
						</div>
					</form>
				</div>
			</div>
			<script th:inline="javascript">
				function redirectToFrAdd() {
					// "/fradd"로 페이지 이동
					window.location.href = '/fradd';
				}
			</script>
	</main>
</body>
</html>