<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/common-layout :: commonLayout(~{this::head},~{this::main} )}">
<head>
<script src="/js/department.js"></script>
<link rel="stylesheet" href="/css/department/side.css" />
<link rel="stylesheet" href="/css/Franchise/fradd.css" />
</head>
<body>
	<main class="warp-main">
		<div th:replace="~{department/side :: side}"></div>
		<div class="container">
			<div class="title">
				<ul class="ttl">
					<li>매장등록</li>
				</ul>
			</div>
			<form action="/fradd/register" method="post">
				<!-- 폼태그 시작 -->
				<div class="add">
					<div class="name">
						<div class="name_1">매장명</div>
						<div class="name-2">
							<input type="text" maxlength="30" name="name" id="titl">
							<!-- name 속성 추가 -->
						</div>
					</div>
					<div class="address">
						<div class="address_1">주소</div>
						<div class="address-2">
							<input type="text" maxlength="255" name="address" 
								id="titl">
							<!-- name 속성 추가 -->
						</div>
					</div>
					<div class="address2">
						<div class="address2_1">상세주소</div>
						<div class="address2-2">
							<input type="text" maxlength="255" name="address2" id="titl">
							<!-- name 속성 추가 -->
						</div>
					</div>
					<div class="ph">
						<div class="ph_1">전화번호</div>
						<div class="ph-2">
							<input type="text" maxlength="15" name="ph" id="titl">
							<!-- name 속성 추가 -->
						</div>
					</div>
				</div>
				<div class="addbtn">
					<button type="submit" class="add">등록 완료</button>
				</div>
			</form>
		</div>
	</main>
</body>
</html>