<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/common-layout :: commonLayout(~{this::head},~{this::main} )}">
<head>
<script src="/js/department.js"></script>
<link rel="stylesheet" href="/css/department/side.css" />
<link rel="stylesheet" href="/css/Franchise/fredit.css" />
</head>
<body>
	<main class="warp-main">
		<div th:replace="~{department/side :: side}"></div>
		<div class="main">
			<div class="join_area">
				<h1 class="join_tilte">가맹점 상세</h1>
			</div>
			<div id="detail-view">
				<div>
					<div th:each="detail : ${franchiseEditDTO}">
						<div class="name">매장명</div>
						<div class="text" th:text="${detail.name}"></div>
						<div class="name">주소</div>
						<div class="text" th:text="${detail.address}"></div>
						<div class="name">상세주소</div>
						<div class="text" th:text="${detail.address2}"></div>
						<div class="name">전화번호</div>
						<div class="text" th:text="${detail.ph}"></div>
						<div class="name">점주명</div>
						<div class="text" th:text="${detail.ownerName}"></div>
						<div class="button_area">
							<div>
								<button class="button01" type="button"
									onclick="btnUpdateClicked()">수정</button>
							</div>
							<div>
								<form action="/fr/register" method="post">
									<div>
										<button class="button02" type="submit">폐업</button>
										<input type="hidden" name="id" th:value="${detail.id}">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script type="text/javascript">
				function btnUpdateClicked() {
					//const element = document.getElementById("intro");
					const detailView = document.querySelector("#detail-view");
					detailView.style.display = "none";

					const updateView = document.querySelector("#update-view");
					updateView.style.display = "block";
				}
			</script>
			<form th:action="|/fredit/${franchiseEditDTO.id}|" method="post"
				id="update-view" style="display: none;">
				<div>
					<div>
						<div class="name">주소</div>
						<div class="text">
							<input class="inp" type="text" maxlength="255" name="address"
								id="sample4_roadAddress" th:value="${franchiseEditDTO.address}"
								onclick="sample4_execDaumPostcode()">
						</div>
					</div>
					<div>
						<div class="name">상세주소</div>
						<div class="text">
							<input class="inp" type="text" name="address2"
								th:value="${franchiseEditDTO.address2}">
						</div>
					</div>
					<div>
						<div class="name">전화번호</div>
						<div class="text">
							<input maxlength="255" class="inp" type="text" name="ph"
								th:value="${franchiseEditDTO.ph}">
						</div>
					</div>
					<div class="button_area">
						<div>
							<input type="hidden" name="id" th:value="${franchiseEditDTO.id}">
							<input type="hidden" name="_method" value="put">
							<button class="button01" type="submit">수정</button>
							<button class="button02" type="button"  onclick="history.back()">취소</button>
						</div>
					</div>
				</div>
			</form>
			<script
				src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
			<script>
				//본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
				function sample4_execDaumPostcode() {
					new daum.Postcode(
							{
								oncomplete : function(data) {
									// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
									// 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
									// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
									var roadAddr = data.roadAddress; // 도로명 주소 변수
									var extraRoadAddr = ''; // 참고 항목 변수
									// 법정동명이 있을 경우 추가한다. (법정리는 제외)
									// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
									if (data.bname !== ''
											&& /[동|로|가]$/g.test(data.bname)) {
										extraRoadAddr += data.bname;
									}
									// 우편번호와 주소 정보를 해당 필드에 넣는다.
									document
											.getElementById("sample4_roadAddress").value = roadAddr;
								}
							}).open();
				}
			</script>
		</div>
		<div></div>
	</main>
</body>