<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/common-layout :: commonLayout(~{this::head},~{this::main} )}">

<div class="side" th:fragment="aaside">
	<button type="button" class="collapsible" onclick="collapse(this);">재고 관리</button>
	<div class="content">
		<button onclick="location.href='/members/stock'">재고 목록</button>
	</div>
	<button type="button" class="collapsible" onclick="collapse(this);">발주 관리</button>
	<div class="content">
		<button onclick="location.href='/members/purchase'">상품 목록</button>
		<button onclick="location.href='/members/purchase-post'">발주 등록</button>
	</div>
	<button type="button" class="collapsible" onclick="collapse(this);">입고 관리</button>
	<div class="content">
		<button onclick="location.href='/members/stocked'">입고 대기</button>
		<button onclick="location.href='/members/stocked-complete'">입고 완료</button>
	</div>
	<button type="button" class="collapsible" onclick="collapse(this);">출고 관리</button>
	<div class="content">
		<button onclick="location.href='/members/release'">재고 목록</button>
		<button onclick="location.href='/members/release-post'">출고 신청</button>
		<button onclick="location.href='/members/release-complete'">출고 목록</button>
	</div>
	<button type="button" class="collapsible" onclick="collapse(this);">상품 관리</button>
	<div class="content">
		<button onclick="location.href='/members/product'">상품 목록</button>
		<button onclick="location.href='/members/product-post'">상품 등록</button>
	</div>
</div>
</html>