<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/common-layout :: commonLayout(~{this::head},~{this::main} )}">

<head>

	
	<link rel="stylesheet" href="/css/department/side.css" />
	<link rel="stylesheet" href="/css/Franchise/fr.css" />
	<link rel="stylesheet" href="/css/stock/dashboard.css">
	<script src="/js/department.js"></script>
		<!--아래 사이드 css-->
	<link rel="stylesheet" href="/css/stock/homeTemp.css">

</head>

<body>
	
	
	
	<main>

		<div class="main-wrap">
			<div th:replace="~{/stock/stock-side :: side}"></div>
		<div style="flex: 1">
			<th:block th:replace="~{layout/header :: header}"></th:block>
			<div class="main">
				<div class="dash-wrap">

					<div class="dash_contents">


						<div class="right_page">

							<div class="signboard">

								<h1 class="head_dash" id="head_dash">재고 관리 대쉬보드</h1>


							</div>


							<div class="line"></div>

							<div class="container">



								<div class="graph">재고 현황 그래프</div>

								<div class="graph">발주 현황 그래프</div>



							</div>

							<div class="line"></div>

							<div class="container">



								<div class="graph">입고 현황 그래프</div>

								<div class="graph">출고 현황 그래프</div>



							</div>

							<div class="line"></div>

						

						</div>

					</div>
				</div>
				</div>
			</div>
		</div>
		
	</main>
</body>

</html>