<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/common-layout :: commonLayout(~{this::head},~{this::main} )}">
<head>

	<link rel="stylesheet" href="/css/stock/dashboard.css">
	<meta charset="UTF-8">
	<title>Insert title here</title>


</head>
<body>
<main>
		
	<div class="dash_contents">
	
		<div class="signboard">
		
			<h1 class="head_dash" id="head_dash">재고 관리 대쉬보드</h1>
			
		</div>
		
			
		<div class="container_list">
		
			<div class="list">
				<ul class="stock_list">
					
					<li class="depth_list">
						<a href="/members/stock" class="depth_list_button">재고</a>
					</li>
					
					<li class="depth_list">
						<a href="/members/purchase" class="depth_list_button">발주</a>
					</li>
					
					<li class="depth_list">
						<a href="/members/stocked" class="depth_list_button">입고</a>
					</li>
					
					<li class="depth_list">
						<a href="/members/release" class="depth_list_button">출고</a>
					</li>
					
					<li class="depth_list">
						<a href="/members/product" class="depth_list_button">상품</a>
					</li>
					
				</ul>
			
			</div>
		
		</div>
		
		<div class="line"></div>
		
			<div class="container">
				
				
				
					<div class="graph">재고 현황</div>
					
					<div class="graph">발주 현황</div>
				
				
				
			</div>
		
		<div class="line"></div>
			
			<div class="container">
			
				
				
					<div class="graph">입고 현황</div>
					
					<div class="graph">출고 현황</div>
					
				
				
			</div>
		
		<div class="line"></div>
		
			<div class="container">
			
			
				    <div class="newly_product">최근 등록된 상품 목록</div>
				    
				
		    </div>
		
	</div>
	
</main>
</body>
</html>