<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/common-layout :: commonLayout(~{this::head},~{this::main} )}">

<head>
	
	<link rel="stylesheet" href="/css/stock/list.css">
	<script src="/js/department.js"></script>
	<!--<link rel="stylesheet" href="/css/department/side.css" />-->
	<link rel="stylesheet" href="/css/stock/notice.css">
	<!--아래 사이드 css-->
	<link rel="stylesheet" href="/css/stock/homeTemp.css">
	<link rel="stylesheet" href="/css/stock/noticechj.css">
	<script src="/js/board-fetchAPI.js"></script>

</head>

<body>
	<main class="warp-main">
		<div th:replace="~{stock/notice-side :: side}"></div>
		<div style="flex: 1">
			<th:block th:replace="~{layout/header :: header}"></th:block>
			<div class="main">
				<div class="title">
					<h1>공지사항</h1>
				</div>
				<div  class="search">
					<label for="name">제목 검색</label>
				
					<form id="search-form" onsubmit="searchClicked(this, event)">
						<input class="search-input" name="search">
						<button class="search-button" type="submit"></button>
					</form>
				
				</div>
				<div id="content-area">
					리스트가 비동기로 적용됨
				</div>
				


			</div>
		</div>
	</main>

</body>

</html>