<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/common-layout :: commonLayout(~{this::head},~{this::main} )}">
<head>
<link rel="stylesheet" href="/css/members/list.css">
<script src="/js/department.js"></script>
<link rel="stylesheet" href="/css/department/side.css" />
<link rel="stylesheet" href="/css/stock/notice.css">


</head>
<body>
	<main class="warp-main">
		<div th:replace="~{stock/nnaside :: nnaside}"></div>
		<div class="main">
			<div class="title">
				<h1>공지사항</h1>
			</div>
			<div class="search">
				<label for="name">부서명</label>
					<select name="parentName" id="up-depart" class="custom-select">
						<option class="option" th:each="name : ${names}" th:text="${name}"></option>
				</select>
			
				<input class="search-input">
				<button class="search-button"></button>	
			</div>
			
			<table>
				<thead>
					<tr>
						<td class="a">글번호</td>
						<td class="b">작성자</td>
						<td class="c">부서</td>
						<td class="d">제목</td>
						<td class="e">조회수</td>
						
						<td class="f">작성일</td>
				
					</tr>
				</thead>
				<tbody>
					
					<tr th:each="dto:${list}">
						<td th:text="${dto.boardNo}" class="a">글번호</td>
						<td th:text="${dto.writer}" class="b">이름</td>
						<td th:text="${dto.rank}" class="c">부서</td>
						<td class="d">
							<a th:href="|/members/notice/${dto.boardNo}|" th:text="${dto.boardTitle}">제목</a>
						</td>
						<td th:text="${dto.boardHitcnt}" class="e">조회수</td>
						<td th:text="${#temporals.format(dto.createdDatetime, 'yyyy년 MM월 dd일')}" class="g">작성일</td>
					</tr>
					

				</tbody>
			</table>
		</div>
	</main>
	
</body>

</html>