<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/common-layout :: commonLayout(~{this::head},~{this::main} )}">
<head>
<link rel="stylesheet" href="/css/stock/list.css">
<script src="/js/department.js"></script>
<link rel="stylesheet" href="/css/department/side.css" />
<link rel="stylesheet" href="/css/stock/notice.css">

<link rel="stylesheet" href="/css/stock/notice-detail.css">


<link rel="stylesheet" href="/css/stock/write.css">
<script src="/js/department.js"></script>
<link rel="stylesheet" href="/css/stock/home.css">
<link rel="stylesheet" href="/css/stock/modal.css">
<script src="/summerNote/summernote-lite.js"></script>
<script src="/summerNote/summernote-ko-KR.js"></script>
<link rel="stylesheet" href="/css/stock/notice.css">
<!--아래 사이드 css-->

<link rel="stylesheet" href="/css/stock/homeTemp.css">
<link rel="stylesheet" href="/css/stock/noticechj.css">
<link rel="stylesheet" href="/summerNote/summernote-lite.css">
<link rel="stylesheet" href="/css/stock/notice-update.css">


<script>
	$(document)
			.ready(
					function() {
						$('#summernote')
								.summernote(
										{
											toolbar : [
													[ 'fontname',
															[ 'fontname' ] ],
													[ 'fontsize',
															[ 'fontsize' ] ],
													[
															'style',
															[
																	'bold',
																	'italic',
																	'underline',
																	'strikethrough',
																	'clear' ] ],
													[
															'color',
															[ 'forecolor',
																	'color' ] ],
													[ 'table', [ 'table' ] ],
													[
															'para',
															[ 'ul', 'ol',
																	'paragraph' ] ],
													[ 'height', [ 'height' ] ],
													[
															'insert',
															[ 'picture',
																	'link',
																	'video' ] ],
													[
															'view',
															[ 'fullscreen',
																	'help' ] ] ],
											height : "500",
											lang : "ko-KR",
											fontNames : [ 'Arial',
													'Arial Black',
													'Comic Sans MS',
													'Courier New', '맑은 고딕',
													'궁서', '굴림체', '굴림', '돋움체',
													'바탕체' ],
											fontSizes : [ '8', '9', '10', '11',
													'12', '14', '16', '18',
													'20', '22', '24', '28',
													'30', '36', '50', '72' ],
										});
					});
</script>


</head>
<body>
	<main class="warp-main">
		<div th:replace="~{/stock/notice-side :: side}"></div>
		<div style="flex: 1">
			<th:block th:replace="~{layout/header :: header}"></th:block>
		<div class="main">
			<div class="title">
				<h1 class="noticeTitle" th:text="${detail.boardTitle}"></h1>
			</div>
			
				<div class="notice-submenu">
					<div>
						<td>작성자</td>
						<td>작성일</td>
					</div>
							
					<div>
						<td>조회수</td>
						<td>댓글</td>
					</div>
				</div>
				
			
			<table id="detail-view" class="notice_detail">
				
				
				<tbody>
					<th:block>
				
					
						<tr>
							<td class="noticeContent" th:utext="${detail.boardContent}"></td>
						</tr>
					
					</th:block>
					

				</tbody>
				
				<tfoot>
					
					<tr>
						<td>
							<div class="selectPost">
								<a href="/members/notice-page"><button>목록</button></a>
								<button type="button" onclick="btnUpdateClicked()">수정</button>
								
								<form th:action="|/members/notice-page/${detail.boardNo}|" method="post">
									<input type="hidden" name="_method" value="delete" />
									<button type="submit">삭제</button>
								</form>
								
							</div>
						</td>
						
					</tr>
					
				</tfoot>
				
				
			</table>
			<script type="text/javascript">
				function btnUpdateClicked() {

					//const element = document.getElementById("intro");
					const element = document.querySelector("#detail-view");
					element.style.display = "none";


					const updateView = document.querySelector("#update-view");
					updateView.style.display = "block";
				}

				function btnCancelClicked() {

					//const element = document.getElementById("intro");
					const element = document.querySelector("#detail-view");
					element.style.display = "block";


					const updateView = document.querySelector("#update-view");
					updateView.style.display = "none";
				}

			</script>
			
			<form method="post" th:action="|/members/notice-page/${detail.boardNo}|" id="update-view" style="display: none;">
				
			<div class="form bn">
				<h1 class="title"></h1>
					<div class="flex">
						<h1 class="doc-title flex center">제목</h1>
						<input type="text" class="title-content" name="boardTitle" th:value="${boardTitle}">
					</div>
			</div>
			
			   
		
			    <textarea id="summernote"  type="hidden" name="boardContent" th:value="${boardContent}"></textarea>
			    
				<div class="postBtn">  
					
					<input type="hidden" name="no" th:value="${detail.boardNo}">
					<input type="hidden" name="_method" value="put">
						<button class="updateButton" type="submit"><h1>수정</h1></button>
						<button class="updateButton" type="button" onclick="btnCancelClicked()"><h1>취소</h1></button>
				</div>  
			
			</form>
			
			</div>
			</div>
			
			</main>
			
			</body>
			
			</html>