<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/common-layout :: commonLayout(~{this::head},~{this::main} )}">
<head>

<link rel="stylesheet" href="/css/stock/write.css">
<script src="/js/department.js"></script>
<link rel="stylesheet" href="/css/stock/home.css">
<link rel="stylesheet" href="/css/stock/modal.css">
<script src="/summerNote/summernote-lite.js"></script>
<script src="/summerNote/summernote-ko-KR.js"></script>
<link rel="stylesheet" href="/css/stock/notice.css">
<!--아래 사이드 css-->
<link rel="stylesheet" href="/css/stock/homechj.css">

<link rel="stylesheet" href="/summerNote/summernote-lite.css">
<script>
	$(document)
			.ready(
					function() {
						$('#summernote')
								.summernote(
										{
											toolbar : [
													[ 'fontname',
															[ 'fontname' ] ],
													[ 'fontsize',
															[ 'fontsize' ] ],
													[
															'style',
															[
																	'bold',
																	'italic',
																	'underline',
																	'strikethrough',
																	'clear' ] ],
													[
															'color',
															[ 'forecolor',
																	'color' ] ],
													[ 'table', [ 'table' ] ],
													[
															'para',
															[ 'ul', 'ol',
																	'paragraph' ] ],
													[ 'height', [ 'height' ] ],
													[
															'insert',
															[ 'picture',
																	'link',
																	'video' ] ],
													[
															'view',
															[ 'fullscreen',
																	'help' ] ] ],
											height : "500",
											lang : "ko-KR",
											fontNames : [ 'Arial',
													'Arial Black',
													'Comic Sans MS',
													'Courier New', '맑은 고딕',
													'궁서', '굴림체', '굴림', '돋움체',
													'바탕체' ],
											fontSizes : [ '8', '9', '10', '11',
													'12', '14', '16', '18',
													'20', '22', '24', '28',
													'30', '36', '50', '72' ],
										});
					});
</script>
</head>
<body>
	<main class="warp-main">
		<div th:replace="~{/stock/notice-side :: side}"></div>
		<div style="flex: 1">
			<th:block th:replace="~{layout/header :: header}"></th:block>
		<div class="main flex col">
			<ul class="flex list">
				
			</ul>

			<div class="form">
				<h1 class="title">공지사항 등록</h1>
				<table>
					<tbody>
						<tr>
							<th>부서명</th>
							<td style="width: 470px;"><select>
									<option>인사부</option>
							</select></td>
							<th>작성자</th>
							<td>인사부 인턴 최현종</td>
						</tr>
						<!-- <tr>
							<th>보존 연한</th>
							<td><select>
									<option>공용</option>
							</select></td>
							<th>보안등급</th>
							<td><select class="rank">
									<option>A등급</option>
							</select></td>
						</tr> -->
					</tbody>
				</table>
			</div>
			
			
			<form method="post" action="/members/notice-post">
				
			<div class="form bn">
				<h1 class="title"></h1>
				<div id="middlePost" class="flex">
					<h1 class="doc-title flex center">제목</h1>
					<input type="text" class="title-content" name="boardTitle" th:value="${boardTitle}">
				</div>
			</div>
			
			   
		
			    <textarea id="summernote"  type="hidden" name="boardContent" th:value="${boardContent}"></textarea>
			    
				<div class="postBtn">  
					
			  	  <button type="submit">등록</button>
				
				</div>  
			
			</form>
		</div>
		</div>
	</main>
</body>
</html>