<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/common-layout :: commonLayout(~{this::head},~{this::main} )}">
<head>
<link rel="stylesheet" href="/css/department/side.css" />
<link rel="stylesheet" href="/css/Franchise/fr.css" />
<script src="/js/department.js"></script>
<link rel="stylesheet" href="/css/stock/product.css">
<link rel="stylesheet" href="/css/stock/purchase.css">
<meta charset="UTF-8">
<title>Insert title here</title>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<!--아래 사이드 css-->
	<link rel="stylesheet" href="/css/stock/homeTemp.css">
	<link rel="stylesheet" href="/css/stock/stock-side.css">

<script>
$(document).ready(function(){
    $('.delete-btn').click(function(){
        const purchaseNum = $(this).attr('data-id');
         console.log(purchaseNum); // purchaseNum 값 출력
        
        $.ajax({
            url: '/members/purchase/' + purchaseNum, // 서버로 보낼 URL
            type: 'DELETE', // HTTP method
            success: function(result) {
                // 성공 시 동작
                location.reload(); // or remove the item on the front-end
            },
            error: function(request,msg,error) {
                // 실패 시 동작
                alert('삭제 실패');
            }
        });
    });
});
</script>

</head>
<body>
<main>
<div th:replace="~{/stock/stock-side :: side}"></div>
		<div style="flex: 1">
			<th:block th:replace="~{layout/header :: header}"></th:block>
			
					
			<div class="mainContent">
			<div></div>
<div class="main_page">
	<div class="main_container">
	
		<div class="main_name">
			<h1>발주 신청</h1>
			<h2></h2>
		</div>
		
		<div class="container_point">
			<ul class="list_group">
				<li>
					<a href="/members/purchase" class="list_group_item">
						<span class="text_list">상품 목록</span>
					</a>
					<a href="/members/purchase-post" class="list_group_item">
						<span class="text_list">발주 신청</span>
					</a>
					<a href="/members/purchase-complete" class="list_group_item">
						<span class="text_list">발주 신청 현황</span>
					</a>
				</li>
			</ul>
		</div>
		
		
		<table class="table" style="width: 100%">
		
			<thead class="table_h">
				
				<tr style="font-size: 14px;">
					<th style="width: 200px">발주상품명</th>
					<th style="width: 150px">발주가맹점</th>
					<th style="width: 100px">발주수량</th>
					<th style="width: 150px">발주총액</th>
					<th style="width: 250px">발주일자</th>
					<th style="width: 100px">삭제</th>
				
				</tr>
				
			</thead>
			
			<tbody id="dynamic_table">
				
				<tr th:each="pur:${purchases}">
					<td style="width: 200px" th:text="${pur.productName}">productName</td>
					<td style="width: 150px" th:text="${pur.name}">franchiseId</td>
					<td style="width: 100px" th:text="${pur.ea}">productWeight</td>
					<td style="width: 150px" th:text="${pur.totalPrice}">productPrice</td>
					<td style="width: 250px" th:text="${#temporals.format(pur.purchaseDate, pur.purchaseDate.year != #dates.createNow().year ? 'MM-dd HH:mm:ss' : 'yyyy-MM-dd HH:mm:ss')}">productDate</td>
					<td style="width: 100px"><button style="font-size: 12px; padding: 4px 12px; background-color: var(--bullti1); color: white; border: none; cursor: pointer;" class="delete-btn" th:data-id="${pur.purchaseNum}">삭제</button></td>

				</tr>
				<tr th:if="${#lists.isEmpty(purchases)}">
					<td colspan="6" style="width:100%;display:block; text-align: center;padding: 2em 0">
						등록된 발주가 존재하지 않습니다.
					</td>
				</tr>
				
			</tbody>
			
			<tfoot>
				<tr>
					<td colspan="6" class="flex center" id="table_bottom">
						<div class="cancel"><button style="font-size: 12px; padding: 4px 12px; background-color: var(--bullti1); color: white; border: none; cursor: pointer;" onclick="placeOrder('${pur.productPrice}')">전체취소</button></div>
						<div class="purchasing"><button style="font-size: 12px; padding: 4px 12px; background-color: var(--bullti1); color: white; border: none; cursor: pointer;" onclick="placeOrder('${pur.productPrice}')">저장</button></div>
					</td>
				</tr>
				
			</tfoot>
		
		</table>
		
		
	</div>
		
</div>
<div></div>
</div>
</div>
</main>
</body>
</html>