<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/common-layout :: commonLayout(~{this::head},~{this::main} )}">
<head>
<link rel="stylesheet" href="/css/department/side.css" />
<link rel="stylesheet" href="/css/Franchise/fr.css" />
<script src="/js/department.js"></script>
<link rel="stylesheet" href="/css/stock/product.css">
<link rel="stylesheet" href="/css/stock/purchase.css">
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!--아래 사이드 css-->
<link rel="stylesheet" href="/css/stock/homeTemp.css">
<link rel="stylesheet" href="/css/stock/stock-side.css">
<script>
	function placeOrder(btn){
		var productNum=$(btn).parents(".product-wrap").find(".productNum").val(); // input 태그에 value를 읽어들인다.
		var productName=$(btn).parents(".product-wrap").find(".productName").text(); // 일반태그내부의 글(text)을 읽어들인다
		var ea=prompt("발주할 상품["+productName+"] 수량을 입력하세요","1");
		//console.log("수량:"+ea);
		
	$.ajax({
    type: "POST",
    url: "/members/purchase-post",
    contentType: "application/json",  // Content-Type을 application/json으로 설정
    data: JSON.stringify({ productNum: productNum, ea: ea }),  // 데이터를 JSON 문자열로 변환
    success: function (response) {
        alert(response);
    },
    error: function (error) {
        alert("주문 등록 중 오류가 발생했습니다: " + error.responseText);
    }
});
	}
</script>
</head>
<body>
<main>
<div th:replace="~{/stock/stock-side :: side}"></div>
		<div style="flex: 1">
			<th:block th:replace="~{layout/header :: header}"></th:block>
				<div class="mainContent">
			<div></div>
<div class="main_page">
	<div class="main_container">
	
		<div class="main_name">
			<h1>발주 물품 선택</h1>
			<h2></h2>
		</div>
		
		<div class="container_point">
			<ul class="list_group">
				<li>
					<a href="/members/purchase" class="list_group_item">
						<span class="text_list">상품 목록</span>
					</a>
					<a href="/members/purchase-post" class="list_group_item">
						<span class="text_list">발주 신청</span>
					</a>
					<a href="/members/purchase-complete" class="list_group_item">
						<span class="text_list">발주 신청 현황</span>
					</a>
				</li>
			</ul>
		</div>
		
		<div class="tableup">
			<div class="page_entries">페이지 스크롤</div>
			<div class="name_search">상품명 검색:<input type="text" id="name_search" size="10" maxlength="5"></div>
		</div>
		<table class="table" style="width: 100%">
		
			<thead class="table_h">
				
				<tr style="font-size: 14px;">
					<th style="width: 200px">상품명</th>
					<th style="width: 150px">상품분류</th>
					<th style="width: 150px">상품중량</th>
					<th style="width: 150px">공급가액</th>
					<th style="width: 150px">상품단가</th>
					<th style="width: 150px">발주</th>
				</tr>
				
			</thead>
			
			<tbody id="dynamic_table">
				
				<tr th:each="prod:${products}" class="product-wrap">
					<td style="width: 200px" th:text="${prod.productName}" class="productName">productName</td>
					<td style="width: 150px" th:text="${prod.productGroup}">productGroup</td>
					<td style="width: 150px" th:text="${prod.productWeight}">productWeight</td>
					<td style="width: 150px" th:text="${prod.productSupply}">productSupply</td>
					<td style="width: 150px" th:text="${prod.productPrice}">productPrice</td>
					<td style="width: 150px">
						<input type="hidden" th:value="${prod.productNum}" class="productNum">
						<button style="font-size: 12px; padding: 4px 12px; background-color: var(--bullti1); color: white; border: none; cursor: pointer;" onclick="placeOrder(this)">발주</button></td>
					
				</tr>
				<tr th:if="${#lists.isEmpty(products)}">
					<td colspan="7" style="width:100%;display:block; text-align: center;padding: 2em 0">
						등록된 상품이 존재하지 않습니다.
					</td>
				</tr>
				
			</tbody>
			
			<tfoot>
				<tr>
					<td colspan="7" class="flex center" id="table_bottom">
						<div class="the_number_of_pages">총 22페이지&nbsp;&nbsp;</div>
						<div class="paging">1</div>
					</td>
				</tr>
				
			</tfoot>
		
		</table>
		
		
	</div>
		
</div>
<div></div>
</div>
</div>
</main>
</body>
</html>