<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/common-layout :: commonLayout(~{this::head},~{this::main} )}">
<head>
<link rel="stylesheet" href="/css/department/side.css" />
<link rel="stylesheet" href="/css/Franchise/fr.css" />
<script src="/js/department.js"></script>
<link rel="stylesheet" href="/css/stock/product.css">
<link rel="stylesheet" href="/css/stock/purchase.css">
<link rel="stylesheet" href="/css/stock/release.css">
<meta charset="UTF-8">
<title>Insert title here</title>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


</head>
<body>
<main>
<div th:replace="~{stock/aaside :: aaside}"></div>
<div class="main_page">
	<div class="main_container">
	
		<div class="main_name">
			<h1>출고 관리</h1>
			<h2></h2>
		</div>
		
		<div class="container_point">
			<ul class="list_group">
				<li>
					<a href="/members/release" class="list_group_item">
						<span class="text_list">재고 목록</span>
					</a>
					<a href="/members/release-post" class="list_group_item">
						<span class="text_list">출고 신청</span>
					</a>
					<a href="/members/release-complete" class="list_group_item">
						<span class="text_list">출고 목록</span>
					</a>
				</li>
			</ul>
		</div>
		
		
		<table class="table" style="width: 100%">
		
			<thead class="table_h">
				
				<tr style="font-size: 14px;">
					<th style="width: 200px">발주상품명</th>
					<th style="width: 150px">발주거래처</th>
					<th style="width: 150px">발주수량</th>
					<th style="width: 150px">발주총액</th>
					<th style="width: 150px">발주자</th>
					<th style="width: 150px">발주일자</th>
				</tr>
				
			</thead>
			
			<tbody id="dynamic_table">
				
				<tr th:each="prod:${products}">
					<td style="width: 200px" th:text="${prod.productName}">productName</td>
					<td style="width: 150px" th:text="${prod.productPrice}">productPric	e</td>
					<td style="width: 150px" th:text="${prod.productWeight}">productWeight</td>
					<td style="width: 150px" th:text="${prod.productSupply}">productSupply</td>
					<td style="width: 130px" th:text="${prod.authorName}">authorName</td>
					<td style="width: 130px" th:text="${#temporals.format(prod.productDate, prod.productDate.year != #dates.createNow().year ? 'MM-dd HH:mm:ss' : 'yyyy-MM-dd HH:mm:ss')}">productDate</td>
				</tr>
				<tr th:if="${#lists.isEmpty(products)}">
					<td colspan="7" style="width:100%;display:block; text-align: center;padding: 2em 0">
						등록된 발주가 존재하지 않습니다.
					</td>
				</tr>
				
			</tbody>
			
			<tfoot>
				<tr>
					<td colspan="7" class="flex center" id="table_bottom">
						<div class="cancel"><button style="font-size: 12px; padding: 4px 12px; background-color: var(--bullti1); color: white; border: none; cursor: pointer;" onclick="placeOrder('${prod.productPrice}')">취소</button></div>
						<div class="purchasing"><button style="font-size: 12px; padding: 4px 12px; background-color: var(--bullti1); color: white; border: none; cursor: pointer;" onclick="placeOrder('${prod.productPrice}')">저장</button></div>
					</td>
				</tr>
				
			</tfoot>
		
		</table>
		
		
	</div>
		
</div>

<div></div>
</main>
</body>
</html>