<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/common-layout :: commonLayout(~{this::head},~{this::main} )}">
<head>
<link rel="stylesheet" href="/css/department/side.css" />
<link rel="stylesheet" href="/css/Franchise/fr.css" />
<script src="/js/department.js"></script>
<link rel="stylesheet" href="/css/stock/product.css">
<meta charset="UTF-8">
<title>Insert title here</title>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


</head>
<body>
<main>
<div th:replace="~{stock/aaside :: aaside}"></div>
<div class="main_page">
	<div class="main_container">
	
		<div class="main_name">
			<h1>입고 완료</h1>
			<h2></h2>
		</div>
		
		<div class="container_point">
			<ul class="list_group">
				<li>
					<a href="/members/stocked" class="list_group_item">
						<span class="text_list">입고 대기</span>
					</a>
					<a href="/members/stocked-complete" class="list_group_item">
						<span class="text_list">입고 완료</span>
					</a>
				</li>
			</ul>
		</div>
		
		<div class="tableup">
			<div class="page_entries">페이지 스크롤</div>
			<div class="name_search">상품명 검색:<input type="text" id="name_search" size="10" maxlength="5"></div>
		</div>
		<table class="table" style="width: 100%">
		
			<thead class="table_h">
				
				<tr style="font-size: 14px;">
					<th style="width: 200px">상품명</th>
					<th style="width: 130px">상품분류</th>
					<th style="width: 100px">상품중량</th>
					<th style="width: 130px">공급가액</th>
					<th style="width: 130px">상품단가</th>
					<th style="width: 130px">작성자</th>
					<th style="width: 130px">입고일자</th>
				</tr>
				
			</thead>
			
			<tbody id="dynamic_table">
				
				<tr th:each="prod:${products}">
					<td style="width: 200px" th:text="${prod.productName}">productName</td>
					<td style="width: 130px" th:text="${prod.productGroup}">productGroup</td>
					<td style="width: 100px" th:text="${prod.productWeight}">productWeight</td>
					<td style="width: 130px" th:text="${prod.productSupply}">productSupply</td>
					<td style="width: 130px" th:text="${prod.productPrice}">productPrice</td>
					<td style="width: 130px" th:text="${prod.authorName}">authorName</td>
					<td style="width: 130px" th:text="${#temporals.format(prod.productDate, prod.productDate.year != #dates.createNow().year ? 'MM-dd HH:mm:ss' : 'yyyy-MM-dd HH:mm:ss')}">productDate</td>
				</tr>
				<tr th:if="${#lists.isEmpty(products)}">
					<td colspan="7" style="width:100%;display:block; text-align: center;padding: 2em 0">
						등록된 상품이 존재하지 않습니다.
					</td>
				</tr>
				
			</tbody>
			
			<tfoot>
				<tr>
					<td colspan="7" class="flex center" id="table_bottom">
						<div class="the_number_of_pages">총 22페이지&nbsp;&nbsp;</div>
						<div class="paging">1</div>
					</td>
				</tr>
				
			</tfoot>
		
		</table>
		
		
	</div>
		
</div>

<div></div>
</main>
</body>
</html>