<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="/css/common/aside.css" />
</head>
<aside>
	<div>
		<div class="aside-menu-container flex col">
			<a class="aside-menu flex wrap hcenter" href="/">
				<img src="/img/common/aside/home.svg">
				<span>홈</span>
			</a>
			<a class="aside-menu flex wrap hcenter" href="/">
				<img src="/img/common/aside/schedule.svg">
				<span>캘린더</span>
			</a>
			<a class="aside-menu flex wrap hcenter" href="/">
				<img src="/img/common/aside/worktime.svg">
				<span>근태관리</span>
			</a>
			<a class="aside-menu flex wrap hcenter" href="/members/dashboard">
				<img src="/img/common/aside/stock.svg">
				<span>재고관리</span>
			</a>
			<a class="aside-menu flex wrap hcenter" href="/members/notice">
				<img src="/img/common/aside/notice.svg">
				<span>공지사항</span>
			</a>
			<a class="aside-menu flex wrap hcenter" href="/store">
				<img src="/img/common/aside/chicken.svg">
				<span>매장안내</span>
			</a>
			<a class="aside-menu flex wrap hcenter" href="/">결재</a>
		</div>
	</div>
</aside>
