<!DOCTYPE html>
<head>
<link rel="stylesheet" href="/css/common/aside.css" />
</head>
<aside>
	<div>
		<div class="aside-menu-container flex col">
			<div class="aside-box flex">
				<a class="aside-menu flex wrap hcenter" href="/"> 
					<img class="aside-icon" src="/img/common/aside/home.svg">
				</a>
				<div class="tooltip flex center">홈</div>
			</div>
			<div class="aside-box flex">
				<a class="aside-menu flex wrap hcenter" href="/emp/schedule">
					<img class="aside-icon" src="/img/common/aside/schedule.svg">
				</a>
				<div class="tooltip flex center">캘린더</div>
			</div>
			<div class="aside-box flex">
				<a class="aside-menu flex wrap hcenter" href="/emp/atte">
					<img class="aside-icon" src="/img/common/aside/worktime.svg">
				</a>
				<div class="tooltip flex center">근태관리</div>
			</div>
			<div class="aside-box flex">
				<a class="aside-menu flex wrap hcenter" href="/emp/annu">
					<img class="aside-icon" src="/img/common/aside/vacation.svg">
				</a>
				<div class="tooltip flex center">휴가관리</div>
			</div>
			<div class="aside-box flex">
				<a class="aside-menu flex wrap hcenter" href="/members/dashboard">
					<img class="aside-icon" src="/img/common/aside/stock.svg">
				</a>
				<div class="tooltip flex center">재고관리</div>
			</div>
			<div class="aside-box flex">
				<a class="aside-menu flex wrap hcenter" href="/members/notice-page">
					<img class="aside-icon" src="/img/common/aside/notice.svg">
				</a>
				<div class="tooltip flex center">공지사항</div>
			</div>
			<div class="aside-box flex">
				<a class="aside-menu flex wrap hcenter" href="/sl">
					<img class="aside-icon" src="/img/common/aside/chicken.svg">
				</a>
				<div class="tooltip flex center">매장위치</div>
			</div>
			<div class="aside-box flex">
				<a class="aside-menu flex wrap hcenter" href="/approval">
					<img class="aside-icon" src="/img/common/aside/approval.svg">
				</a>
				<div class="tooltip flex center">전자결재</div>
			</div>
			<div class="aside-box flex">
				<a class="aside-menu flex wrap hcenter" href="/mail/list">
					<img class="aside-icon" src="/img/common/aside/mail_FILL0_wght400_GRAD0_opsz24.svg">
				</a>
				<div class="tooltip flex center">메일</div>
			</div>
			<div class="aside-box flex">
				<a class="aside-menu flex wrap hcenter" href="/oms">
					<img class="aside-icon" src="/img/common/aside/employee.svg">
				</a>
				<div class="tooltip flex center">조직관리</div>
			</div>
		</div>
	</div>
	<script>
	  $('.aside-box').hover(
		  function asideHover() {
		  	$(this).find('.tooltip').css('display','flex');
		  },
		  function asideNonHover() {
			  $(this).find('.tooltip').css('display','none');
		  }
	  )
	</script>
</aside>
