@charset "UTF-8";

.title {
	font-size: 30px;
}
.content {
	color: #a9a9a9;
    font-size: 12px;
    margin: 15px 0;
    line-height: 20px;
}
.row {
	display: flex;
	align-items: center;
}

.row > p {
	width: 140px;
}
.btn {
	margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
	width: 79px;
    height: 35px;
    color: #fff;
    border: 1px solid #36cddd;
    background-color: #49c9d7;
}
