<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/common-layout :: commonLayout(~{this::head},~{this::main} )}">
<head>
<script src="/js/department.js"></script>
<!-- <link rel="stylesheet" href="css/approval/home.css"> -->
<link rel="stylesheet" href="css/approval/homeTemp.css">
</head>
<body>
	<main class="warp-main">
		<div th:replace="~{views/approval/sideTemp :: side}"></div>
		<div class="content" style="flex: 1">
			<th:block th:replace="~{layout/header :: header}"></th:block>
		</div>
	</main>
</body>
</html>