<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="approval-modal" th:fragment="modal">
		<div class="modal-bady">
			<h3>결재선 설정</h3>
			<div class="flex modal-content">
			
				<div class="de-form">
					<ul class="depart">
						<li th:each="dept : ${deptList}" th:if="${dept.parentId == 0}">
							<span class="clickable" onclick="getEmployee(this)" >[[${dept.deptName}]]</span>
							<ul>
								<li th:each="subDept : ${dept.child}">
									<span onclick="getEmployee(this)">[[${subDept.deptName}]]</span>
									<ul>
										<li  th:each="subsubDept : ${subDept.child}">
											<span onclick="getEmployee(this)">[[${subsubDept.deptName}]]</span>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="em-form">
					<p class="row">최부장 (개발부)</p>
				</div>
				<div class="btn-form flex col center">
					<img src="/img/right-arrow.png"> <img
						src="/img/left-arrow.png">
				</div>
				<div class="re-form">
					<div class="title">
						<h3>결재</h3>
					</div>
					<div class="wrap"></div>
				</div>
			</div>
			<div class="btn-area flex center">
				<button>확인</button>
				<button onclick="btn_approval()">취소</button>
			</div>
		</div>
		<script>
			function btn_approval() {
				var modal = $('.approval-modal');
				modal.css('display', modal.css('display') === 'none' ? 'flex'
						: 'none');
			}
		</script>
	</div>
</body>
</html>
