<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/common-layout :: commonLayout(~{this::head},~{this::main} )}">
<head>
<link rel="stylesheet" href="/css/approval/write.css">
<script src="/js/department.js"></script>
<link rel="stylesheet" href="/css/approval/home.css">
</head>
<body>
	<main class="warp-main">
		<div th:replace="~{views/approval/side :: side}"></div>
		<div class="main flex col">
		<ul class="flex list">
			<li>결재요청</li>
			<li>임시저장</li>
			<li>결재선 지정</li>
		</ul>
		<h1 class="title flex center">휴가신청서</h1>
		<div class="flex hd">
			<table>
				<tbody>
					<tr>
						<th>기안자</th>
						<td>최영진</td>
					</tr>
					<tr>
						<th>기안부서</th>
						<td>개발부</td>
					</tr>
					<tr>
						<th>기안일</th>
						<td>2024-01-16</td>
					</tr>
					<tr>
						<th>문서번호</th>
						<td></td>
					</tr>
				</tbody>
			</table>
			<ul class="flex center">
				<li>결재</li>
				<li>
					<div>기안</div>
					<div>서명</div>
				</li>
				<li>
					<div>과장</div>
					<div>서명</div>
				</li>
				<li>
					<div>부장</div>
					<div>서명</div>
				</li>
			</ul>
		</div>
		<div class="content">
			<div class="row">
				<div class="left">휴가 종류</div>
				<div>asd</div>
			</div>
			<div class="row">
				<div class="left">기간 및 일시</div>
				<div></div>
			</div>
			<div class="row">
				<div class="left">연차 일수</div>
				<div></div>
			</div>
			<div class="row">
				<div class="left">휴가 사유*</div>
				<div></div>
			</div>
		</div>
		</div>
	</main>
</body>
</html>