@charset "UTF-8";


main {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

button {
    background-color: var(--bullti2);
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

#workingTime {
    margin: 20px 0;
}

#clock {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.pagging-wrap {
    margin-top: 20px;
    text-align: center;
}

a button {
    background-color: var(--bullti2);
    color: #fff;
    border: none;
    padding: 8px 16px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0 2px;
    cursor: pointer;
    border-radius: 4px;
}

a button:hover {
    background-color: var(--bullti1);
}