<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/common-layout :: commonLayout(~{this::head},~{this::main} )}">
<head>
<link rel="stylesheet" href="/css/approval/modal.css">
</head>
<body>
	<main class="approval_main">
		<button>결재하기</button>
		<div class="approval_modal">
			<div class="modal_bady">
				<h3>결재양식 선택</h3>
				<div>
				
				</div>
				<div>
					<button>확인</button>
					<button>취소</button>
				</div>
			</div>
		</div>
	</main>
</body>
</html>