<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/common/common.css">
<title>Insert title here</title>
</head>
<body>
	<main class="container">

		<div class="logo-area"></div>
		<div class="login_area">
			<h2 class="login_title">Bullti</h2>
			<form action="/login" method="post">
				<div>
					<input placeholder="Id" type="text" id="id" name="id" required>
				</div>
				<div>
					<input placeholder="Pass" type="password" id="pass" name="pass"
						required>
				</div>
				<div class="button_area">
					<button class="login_button">
						<span>Login</span>
					</button>
				</div>
			</form>
		</div>

	</main>
</body>
</html>