<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/common-layout :: commonLayout(~{this::head},~{this::main} )}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script defer src="/js/annual/annual.js"></script>
<link rel="stylesheet" href="/css/view/annual.css"/>
<link rel="stylesheet" href="/css/department/side.css" />
</head>
<body>
	<main class="flex">
		<div th:replace="~{views/emp/annual/side::side}"></div>
		<div class="main">
			<h1>휴가신청페이지</h1>
			<div class="main-sub">
		    	<form id="annfrom" action="/emp/annu" method="post">
					<span>휴가유형</span>
			        <select id="type" name="type">
			            <option th:each="typeList : ${typeArray}"  th:value="${typeList.name()}" th:text="${typeList.getTypeName}"></option>
			        </select>
			
			        <label for="start">휴가 시작일</label>
			        <input type="date" id="start" name="start" min="<?= date('Y-m-d', strtotime('-1 day')) ?>" required>
					
					
				    <div class="selectView" id="fullDay">
				        <label for="end">휴가 마지막일:</label>
				        <input type="date" id="end" name="end" min="">
			        </div>
			        <div class="select-container">
					    <div class="selectView" th:id="${typeArray[1].name()}">
							<!-- 반차 시간 선택 -->
					        <label for="halfDayTime">반차 시간:</label>
					        <select id="halfDayTime" name="halfDayTime">
					            <option value="morning">오전</option>
					            <option value="afternoon">오후</option>
					        </select>
						</div>
					    <div class="selectView" th:id="${typeArray[0].name()}">연차</div>
					    <div class="selectView" th:id="${typeArray[2].name()}">출산</div>
					    <div class="selectView" th:id="${typeArray[3].name()}">배우자출산</div>
					    <div class="selectView" th:id="${typeArray[4].name()}">생리</div>
					    <div class="selectView" th:id="${typeArray[5].name()}">가족돌봄</div>
					    <div class="selectView" th:id="${typeArray[6].name()}">약정</div>
				    </div>
			        <textarea name="content" placeholder="사유"></textarea>
			        <button type="submit" class="t-btn">휴가신청</button>
			    </form>
			
			</div>
		</div>
	</main>
</body>
</html>