<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/common-layout :: commonLayout(~{this::head},~{this::main} )}">

<div class="side" th:fragment="side">
	<button type="button" class="collapsible" onclick="location.href='/emp/annu'">휴가신청</button>
	<div class="content">
		<button onclick="location.href='/depart/save'">부서추가</button>
		<button onclick="location.href='/depart/list'">조회/삭제</button>
	</div>
	<button type="button" class="collapsible" onclick="location.href='/emp/annu/list'">휴가이력</button>
	<div class="content">
		<button onclick="location.href='/members'">사원등록</button>
		<button onclick="location.href='/members/list'">조회/삭제/수정</button>
	</div>
</div>
</html>