@charset "UTF-8";

/*.wrap{
	justify-content: center;
	align-items: center;
	height: 500px;
	width: 800px;
	display: flex;
}
*/

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: #F9F5EB;
	position: fixed;
}

.login_area {
	width: 350px;
    padding: 60px 50px 40px;
    border-radius: 20px;
}


.login_title {
	text-align: center;
    height: 50px;
    margin-bottom: 30px;
    color: #ed1a1b;
    font-size: 35px;
}
.login_title > span {
	color: #222;
}
.login_area>form>div {
	margin-bottom: 20px;
}

.login_area>form>div>input {
	width: 100%;
	padding: 9px 0 8px 8px;
	border: none;
	border-bottom: 1px solid #ebebeb;
	outline-style: none;
	box-sizing: border-box;
	height: 50px;
	font-size: 17px;
}

.login_area>form>div>input:focus {
	border: 1px solid #000;
}

.button_area {
	display: flex;
	justify-content: center;
	align-items: center;
}

.login_button {
	height: 50px;
    width: 100%;
    cursor: pointer;
    border: 1px solid #c78c8c;
    background-color: #ea5455;
}
.login_button:hover {
	background-color: #e17273;
}

.login_button>span {
	font-size: 15px;
	font-weight: bold;
	color: #000;
}

.login_sub_box {
	padding-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-evenly
}