@charset "UTF-8";
.main {
}

.join_area {
	width: 400px;
	margin-top: 80px;
	padding: 50px 0 160px;
}
.join_area > div {
	padding-bottom: 30px;
}
.join_area > div > label {
	display: block;
	font-weight: bold;
}
.join_area > div > input, select {
	width: 100%;
	padding: 9px 0 8px;
	border: none;
	border-bottom: 1px solid #ebebeb;
	outline-style: none;
}
.join_area > div > input:focus {
	border-bottom: 1px solid #000;
}

.join_tilte {
	text-align: center;
	color: #000;
	font-size: 32px;
	letter-spacing: -.48px;
	padding-bottom: 46px;
	font-weight: 600;
}
.button_area {
	display: flex;
	justify-content: center;
	align-items: center;
}
.join_button {
	height: 50px;
    width: 220px;
    border-radius: 10px;
    border: 1px solid #a9a9a9;
}
.join_button > span {
	font-size: 20px;
    font-weight: bold;
    letter-spacing: 8px;
}

.btn-file {
	display: flex !important;
	width: 100px;
	height: 100px;
	border: 1px dashed #222;
	justify-content: center;
	align-items: center;
	font-size: 32px;
	background-color:#fff;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.btn-file img {
	cursor: pointer;
	width: 30%;
    height: 30%;
    opacity: 15%;
}

input[type=file] {
	display: none;
}

.find-adress {
	font-size: 14px;
	color: #3a54e5;
	margin-left: 10px;
	cursor: pointer;
}

.hidden {
	display: none;
}

.join_area > div> .danger {
    font-size: 13px;
    position: absolute;
}