@charset "UTF-8";

header {
	position: fixed;
    top: 0;
    left: 280px;
    min-width: calc(100vw - 280px);
    height: 50px;
    background-color: aliceblue;
    z-index: 1;
}

.header {
	box-sizing: border-box;
	padding: 0 10px;
	width: 100%;
	justify-content: space-between;
}