@charset "UTF-8";

header {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 50px;
	background-color: aliceblue;
	z-index: 1;
}
main {
	margin-top: 50px;
}

.header {
	box-sizing: border-box;
	padding: 0 10px;
	width: 100%;
	justify-content: space-between;
}