<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<aside class="side" th:fragment="side">
	<h1 class="title">부서관리</h1>
	<div class="tap">
		<ul>
			<h2 class="tap-title">사원관리</h2>
			<li><a href="/approval/wait-list">결재 대기 문서</a></li>
			<li><a href="/approval/wait-list">결재 대기 문서</a></li>
		</ul>		
	</div>
	<div class="tap">
		<ul>
			<h2 class="tap-title">문서함</h2>
			<li><a href="/approval/draft-list">기안 문서함</a></li>
			<li><a href="/approval/list">결재 문서함</a></li>
		</ul>		
	</div>
</aside>

</html>