<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/common-layout :: commonLayout(~{this::head},~{this::main} )}">
<head>
<link rel="stylesheet" href="/css/approval/index.css">
</head>
<body>
	<main>
		<th:block th:replace="~{layout/header :: header}"></th:block>
		<div class="wrap2">
			<div class="wrap3 border">
				<div class="check border">
					<h1>근태관리</h1>
					<section class="check-section">
						<div class="check-profile border">
							<img class="profile-photo" src="/img/profileTemp.jpeg">
						</div>
					</section>
						<td >이름</td>
						<td >직급</td><br> 
						<td >부서</td> 
						
					
					
				</div>
				<div class="Approval border">
					<h1>결재상황</h1>
				</div>
			</div>
			<div class="wrap4 border">
				<div class="calendar border">
					<h1>일정관리</h1>
				</div>
				<div class="board border">
					<h1>공지사항</h1>
				</div>
			</div>
			<div class="wrap5 border">
				<div class="mail border">
					<h1>메일함</h1>
				</div>
				<div class="sales border">
					<h1>메일함</h1>
				</div>
			</div>
		</div>
	</main>
</body>
</html>