<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/common-layout :: commonLayout(~{this::head},~{this::main} )}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main>
		<h1>Hello bullti</h1>
		<h1>Hello bullti</h1>
		<h1>Hello bullti</h1>
		<h1>Hello bullti</h1>
		<h1>jenkins Docker</h1>
		<h1>Jenkins Docker CICD Test</h1>
		<h1>Jenkins Docker CICD Test12312</h1>
		<h1>Jenkins Docker CICD Test123124</h1>
		<h1>Jenkins Docker CICD Test3214</h1>
		<h1>Jenkins Docker CICD Test3214</h1>
		<h1>Jenkins Docker CICD Test3214</h1>
		<h1>Jenkins Docker CICD Test3214</h1>
		<h1>Jenkins Docker CICD Test3214</h1>
		<h1>Jenkins Docker CICD Test3214</h1>
	</main>
</body>
</html>