@charset "UTF-8";

.warp-main {
    height: calc(100vh - 50px);
    background-color: white; 
    display: flex;
}
.side{
	height: 100%;
	width: 200px;
	border-right: 1px solid #efefef;
	padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}
.side > .title {
	height: 65px;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 550;
}
.side > .btn {
	height: 40px;
    border: 1px solid #a9a9a9;
    margin-bottom: 25px;
}
.side > .btn > a {
	height: 100%;
	width: 100%;
	font-size: 15px;
}
.side > .btn > a:hover {
	background: linear-gradient(to bottom, var(--bullti1), var(--bullti2));
	color: #fff;
}
.side > .tap {
	margin-bottom: 30px;	
}
.side > .tap > ul > .tap-title {
	font-size: 16px;
    margin-bottom: 16px;
}

.side > .tap > ul > li {
	margin-left: 15px;
    margin-bottom: 15px;
    font-size: 15px;
}