@charset "UTF-8";

.border{
	border: 1px solid #a9a9a9;
	box-shadow: 0 0 1px 0;
}

.inner-border{
	border: 1px solid #6c97be;
}

.wrap2{
	width: 1400px;
	height: calc(100vh - 110px);
	display: flex;
	justify-content: space-around;
	margin-right: 10px;
	margin-left: 10px;
	margin-top : 20px;
}

.wrap3{
	width: 300px;
	height: calc(100vh - 110px);
}

.wrap4{
	width: 500px;
	height: calc(100vh - 110px);
}

.wrap5{
	width: 500px;
	height: calc(100vh - 110px);
}

.check{
	height: 500px;
	align-items: center;
}

.check-section{
	text-align: -webkit-center;
}

.check-profile{
	height: 120px;
	width: 120px;
	border-radius: 70%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.profile-photo{
	height: 130px;
	width: 100%;
    object-fit: scale-down;
    }

.check-lable > h1 {
	position: relative;
    left: -6px;
    top: -10px;
    background-color: #273f87;
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 60px;
    height: 25px;
    line-height: normal;
    padding: 2px;
	
}

.check-lable > h1::after{
	content: '';
    position: absolute;
    left: 0px;
    top: 29px;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 5px solid #131f43;
    border-left: 6px solid transparent;
    border-right: 0px solid transparent;
    z-index: -1;
}


.check-info{
	height: 50px;
	text-align: -webkit-center;
	padding-top: 12px;
}

.check-info > span {
	padding-top: 12px;	
	font-size: 18px;
}

#last-span{
	font-size: 16px;
}

.button-area{
	text-align: -webkit-center;
	margin-top: 15px;
}

button {
	background-color: transparent;
	border: 1px solid #a9a9a9;
	cursor: pointer;
	font-size: 14px;
}

.button-area > div {
	margin-top: 10px;
}

.Approval{
	margin-top: 20px;
	padding-bottom: 20px;

}

.ApprovalButtonArea{
    text-align: -webkit-right;
    top: -18px;
    right: 9px;
    position: relative;
}

.situation{
	display: flex;
	justify-content: space-around;
	text-align: -webkit-center;
	align-items: center;
}

.situation > div{
	width: 110px;
	height: 75px;
}

.situation > div > p{
	margin-top: 5px;	
}

.situation > div > span {
	margin-top: 30px;	
	font-size: 16px;
}

.situation > div:nth-child(1){
	/*background-color: #f6b97922;*/
}

.situation > div:nth-child(2){
	/*background-color: #f6b97922;*/
}

.calendar{
	height: 400px;
}

.board{
	margin-top: 20px;
	height: 400px;
	
}

.board-box{
	width: 455px;
    height: 330px;
    margin: auto;
}
    
.notice_table {
	margin: auto;
	width: 400px;
	
	
}



td {
	border-bottom: 1px solid #6c97be;
	height: 20px;
	margin-top: 5px;
	padding-top: 3px;
}

.pagging-wrap{
    text-align: -webkit-center;
    margin-top: 15px;
}

#calendar{
	height: 357px;
	padding: 20px;
}

.mail-button-area{
	text-align: -webkit-center;
	margin: auto;
	
}

.mail-button-area > button {
	width: 130px;
	height: 40px;
/*	font-weight: bold;*/
	font-size: 15px;
}
	
.mail-button-area > button +button{
	margin-left: 20px;
	background-color: #6c97be;
	color: white;
}	

.mail-box{
    margin: 15px auto;
    height: 350px;
    width: 460px;
}

.mail_table{
	width: 440px;
	margin: 20px auto;
	text-align: justify;
	padding-top: 20px;
}

.sales{
	margin-top: 20px;
}