@charset "UTF-8";

.main {
	width: 1000px;
	padding: 20px;
}

.main > .title {
	font-size: 30px;
    border-bottom: 1px solid #a9a9a9;
    padding-bottom: 20px;
}
.main > .list-sub {
	height: 70px;
}
th, td {
	text-align: center;
	vertical-align:middle; 
}
td {
	height: 40px;
}

thead {
	border-top: 4px solid #a9a9a9;
	border-bottom: 3px solid #a9a9a9;
	height: 50px;
}

tbody {
	border-bottom:2px solid #a9a9a9;
}