@charset "UTF-8";

.main {
	width: 1000px;
	display: flex;
	padding: 0 40px;
}
.main > .list > li{
	margin-right: 10px; 
}

.main > .title {
	margin: 50px 50px;
	font-size: 30px;
	font-weight: bold;
}
.title > a {
	margin-left: 20px;
    font-size: 13px;
    font-weight: 500;
    color: #3a54e5;
    cursor: pointer;
}
.main > .form {
	margin-top: 50px;
}
.main > .form > .title {
	margin-bottom: 10px;
}
th, td {
	border: 1px solid;
}

table {
	width: 100%
}

th {
	width: 120px;
	background-color: #f9f9f9;
	vertical-align: middle;
}

td {
	padding: 5px;
    height: 40px;
    box-sizing: border-box;
    vertical-align: middle;
}
td > select {
	padding: 2px;
	width: 150px;
}
td > .rank {
	width: 80px;
    padding: 2px;
}

tbody > .wrap > th {
	padding: 5px;
}
.doc-title {
	font-size: 16px;
    font-weight: 500;
    margin-right: 40px;
}

.title-content {
	padding: 5px;
    flex: 1;
    outline: none;
}
.bn {
	margin-bottom: 10px;
}
.file-aera {
	height: 50px;
	margin-bottom: 30px;
}
.file-aera > div {
	margin-right: 15px;
}
.approval-line {
	height: 150px;
}

.approval-line .title {
	border: 1px solid;
    box-sizing: border-box;
}

.approval-line li {
	width: 165px;
	height: 100%;
}
.approval-line > li > .rank {
	border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    height: 20%;
    box-sizing: border-box;
}


.approval-line > li > .sign {
	border-right: 1px solid;
    border-bottom: 1px solid;
    box-sizing: border-box;
    height: 60%;
}

.approval-line > li > .name {
	border-right: 1px solid;
    border-bottom: 1px solid;
    height: 20%;
    box-sizing: border-box;
}