<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowon.bul.mybatis.mapper.AnnualMapper">
<insert id="annuSave" parameterType="com.nowon.bul.domain.dto.AnnualSaveDTO">
    INSERT INTO Annual (type, member_no, content, start, end, half_day_time, head, create_date)
    VALUES (#{type}, #{memberNo}, #{content}, #{start}, #{end}, #{halfDayTime}, #{head}, CURRENT_TIMESTAMP)
</insert>

</mapper>