<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowon.bul.mybatis.mapper.AnnualMapper">
	<insert id="annuSave">
	    INSERT INTO annual (type, member_no, content, start, end, half_day_time, head, create_date)
	    VALUES (#{type}, #{memberNo}, #{content}, #{start}, #{end}, #{halfDayTime}, #{head}, CURRENT_TIMESTAMP)
	</insert>
	<select id="findByMemberNo" resultType="com.nowon.bul.domain.dto.annual.AnnualListDTO">
		select * from annual where member_no = #{memberNo}
	</select>
	<update id="cancelByNo">
		update annual set approve = #{approveCode} where member_no=#{memberNo} and annual_no = #{annualNo}
	</update>
</mapper>