<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowon.bul.mybatis.mapper.NoticeMapper">
 	
 	
 	<insert id="save">
    	insert into notice(board_title, board_content, name, dept_name)
   		 values(#{boardTitle}, #{boardContent}, #{name}, #{deptName})
	</insert>
	<select id="findAll" resultType="com.nowon.bul.domain.dto.NoticeDTO">
 		select * from notice
 		WHERE board_no > 0 AND board_title LIKE CONCAT('%', #{search}, '%')
 		order by board_no desc
 		LIMIT #{offset}, #{limit}
 	</select>
 	<select id="findAllLimit" resultType="com.nowon.bul.domain.dto.NoticeDTO">
 		select * from notice
 		WHERE board_no > 0 
 		order by board_no desc
 		LIMIT #{offset}, #{limit}
 	</select>
 	
 	<select id="countAll" resultType="int">
 		select count(*) from notice
 		where board_no>0
 	</select>
 	
 	<select id="countAllSearch" resultType="int">
 		select count(*) from notice
 		WHERE board_no > 0 AND board_title LIKE CONCAT('%', #{search}, '%')
 	</select>
 	
 	
 	<select id="findById" resultType="com.nowon.bul.domain.dto.NoticeDTO">
 		select * from notice
 		where board_no=#{board_no}
 	</select>
 	
 	<delete id="deleteById">
 		delete from notice
 		where board_no=#{board_no}
 	</delete>
 	
 	<update id="updateTitleOrContent">
 		update notice
 		set board_title=#{boardTitle}, board_content=#{boardContent}
 		where board_no=#{boardNo}
 	</update>
 	
 	<select id="findNameById" resultType="com.nowon.bul.domain.dto.NoticeSaveDTO">
 		select dept_id,name from member
 		where member_no=#{memberId}
 	</select>
 	
 	<select id="findDeptNameById" resultType="String">
 		select dept_name from department
 		where dept_id=#{deptId}
 	</select>
 	
 	<select id="findNameByIdd" resultType="com.nowon.bul.domain.dto.NoticeDTO">
 		select dept_id,name from member
 		where member_no=#{memberId}
 	</select>
 	
</mapper>