@charset "UTF-8";

.border{
	border: 1px red solid;
}

.main-area {
	height: 800px;
    width: 800px;
    /* border: 1px solid gray; */
    border-radius: 2%;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    margin: 100px auto;
    /* margin-top: 60px; */
    box-shadow: 2px 2px 2px 2px #d2d2d2;
}


#chart_div{
	text-align: -webkit-center;
    padding-top: 35px;
	
}

.custom-node-class {
  background-color: #0b5394;  /* 배경색을 노란색으로 지정 */
  border: 1px solid #d2d2d2;  
  color: #fff;  /* 글자색을 흰색으로 지정 */
  width: 100px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;

}