@charset "UTF-8";

.warp-main {
    height: calc(100vh - 50px);
    background-color: white; 
    display: flex;
}
 #add {
 	height: 30px;
}
 	
.de-name {
	width: 100%;
	height: 80px;
	
}

.de-name > h1 {
	font-size: 40px;
	margin-top: 20px;
	margin-left: 20px;
}

.side{
	height: 100%;
	width: 150px;
	background-color: #d2d2d2;
}

.collapsible {
  	background-color: #777;
	color: white;
 	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
    outline: none;
    font-size: 16px;
}
.active,
.collapsible:hover {
            background-color: #555;
        }
.content {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            background-color: #f1f1f1;
        }

        
.content > button {
	width: 150px;
	height: 50px;
	text-align: left;
	padding: 18px;
	background-color: #adadad;
	border: none;
	font-size: 15px;
	color: white;
}

.content > button > a{
	padding: 5px;
}


.content > button:hover {
	cursor: pointer;
	background-color: #8a8a8a;
}
