<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/ver2/ver2-layout :: commonLayout(~{this::head},~{this::main}, ~{this::side})}">
<head>
<script src="/js/department.js"></script>
<link rel="stylesheet" href="/css/common/ver2/ver2-inner-side.css" />
<link rel="stylesheet" href="/Bullti/src/main/resources/static/css/department/save.css" />
<meta charset="UTF-8">
</head>
<body>
	<aside th:fragment="side" th:replace="~{oms/oms-side :: side}"></aside>
	<main class="warp-main">
		<div class="main flex center">
			<form action="/depart" method="post">
				<div class="join_area">
					<h1 class="join_tilte">부서등록</h1>
					<div>
						<label for="code">부서코드</label> <input type="text" id="id"
							name="deptId" placeholder="예) 11072">
					</div>
					<div>
						<label for="name">부서명</label> <input type="text" id="name"
							name="deptName" placeholder="예) 영업부">
					</div>
					<div>
						<form method="post">
							<label for="name">상위부서</label> <select name="parentName"
								id="up-depart">
								<option th:each="name : ${names}" th:text="${name}"></option>
							</select>
						</form>
					</div>

					<div class="button_area">
						<button class="join_button">
							<span>등록하기</span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</main>
</body>
</html>