<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/common-layout :: commonLayout(~{this::head},~{this::main} )}">

<head>
	<script src="/js/department.js"></script>
	<link rel="stylesheet" href="/css/department/save.css" />
	<!-- <link rel="stylesheet" href="/css/department/side.css" /> -->
	<link rel="stylesheet" href="/css/signup.css">
	<link rel="stylesheet" href="/css/approval/homeTemp.css">
	<meta charset="UTF-8">
</head>
<main class="warp-main">
	<div th:replace="~{department/sideTemp :: side}"></div>
	<div style="flex: 1">
		<th:block th:replace="~{layout/header :: header}"></th:block>
		<div class="main flex center">
			<form action="/depart" method="post">
				<div class="join_area">
					<h1 class="join_tilte">부서등록</h1>
					<div>
						<label for="code">부서코드</label> <input type="text" id="id"
							name="deptId" placeholder="예) 11072">
					</div>
					<div>
						<label for="name">부서명</label> <input type="text" id="name"
							name="deptName" placeholder="예) 영업부" >
					</div>
					<div>
						<form method="post">
							<label for="name">상위부서</label>
							<select name="parentName" id="up-depart">
								<option th:each="name : ${names}" th:text="${name}">
								</option>
							</select>
						</form>
					</div>
					
					<div class="button_area">
						<button class="join_button">
							<span>등록하기</span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</main>
</html>