<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/common-layout :: commonLayout(~{this::head},~{this::main} )}">

<head>
<link rel="stylesheet" href="/css/department/save.css" />
<meta charset="UTF-8">

</head>
<main>

	<div class="warp border">
		<div class="warp-main border">
			<div class="side">
				    <button type="button" class="collapsible" onclick="collapse(this);">부서관리</button>
				    <div class="content">
				        <button>부서추가</button>
				        <button>조회/삭제</button>
				    </div>
				    <button type="button" class="collapsible" onclick="collapse(this);">사원관리</button>
				    <div class="content">
				        <button>사원추가</button>
				        <button>조회/삭제</button>
				    </div>
				    <button type="button" class="collapsible" onclick="collapse(this);">가맹점관리</button>
				    <div class="content">
				       <button>가맹점추가</button>
				       <button>조회/삭제</button>
				    </div>
            </div>
          </div>
        </div>

  
      
<script>
        function collapse(element) {
            var before = document.getElementsByClassName("active")[0]               // 기존에 활성화된 버튼
            if (before && document.getElementsByClassName("active")[0] != element) {  // 자신 이외에 이미 활성화된 버튼이 있으면
                before.nextElementSibling.style.maxHeight = null;   // 기존에 펼쳐진 내용 접고
                before.classList.remove("active");                  // 버튼 비활성화
            }
            element.classList.toggle("active");         // 활성화 여부 toggle

            var content = element.nextElementSibling;
            if (content.style.maxHeight != 0) {         // 버튼 다음 요소가 펼쳐져 있으면
                content.style.maxHeight = null;         // 접기
            } else {
                content.style.maxHeight = content.scrollHeight + "px";  // 접혀있는 경우 펼치기
            }
        }
</script>
 			
</main>

</html>