@charset "UTF-8";
.main {
	height: 800px;
    width: 1200px;
    /* border: 1px solid gray; */
    border-radius: 2%;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 100px;;
    box-shadow: 2px 2px 2px 2px #d2d2d2;
}
table {
	/*width: 1200px;*/
	width: 100%;
	justify-content: space-between;
	
}

thead {
	font-weight: bold;
}

td {
	border-bottom: 1px solid #0b5394;
	height: 40px;
	text-align: center;
	vertical-align: middle;
}

label{
	padding-right: 5px;
	font-weight: bold;
}

.label2{
	margin-left: 5px;
}

.title > h1{
	font-size: 30px;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
	margin-bottom: 50px;
	border-bottom: 1px solid #0b5394;
}

.search{
	margin-bottom: 20px;
}


.goodscheck > .goodscheck_box > tbody > tr > .img_area{
	width: 100px;
	height: 100px;
}


.goodscheck > .page-list {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: end;
}
.goodscheck > .page-list > li {
	margin: 0 10px;
}

.custom-select{
	border: none;
	border-bottom: 2px solid #0b5394;
	font-size: 15px;
	width: 80px;
	text-align: center;
}

#center{
	text-align: center;
}


.option{
	text-align: left;
	border: none;
	background-color: #0b539422;
}

.search-input{
	border: none;
	border-bottom: 2px solid #0b5394;
	font-size: 15px;
	width: 180px;
	margin-left: 15px;
	outline: none;
}

.search-button{
	background-image: url("/img/search/search_FILL0_wght400_GRAD0_opsz24.svg");
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	border: none;
	background-color: transparent;
	position: absolute;
	cursor: pointer;
}

.a{width: 150px;}
.b{width: 150px;}
.c{width: 150px;}
.d{width: 171px;}
.e{width: 171px;}
.f{width: 171px;}
.g{width: 171px;}

