@charset "UTF-8";

.approval-modal {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 99;
}

.approval-modal>.modal-bady {
	background-color: rgb(255, 255, 255); 
	border-radius : 10px;
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	height: 800px;
    width: 1100px;
    padding: 30px 30px 30px 30px;
    box-sizing: border-box;
}

.approval-modal>.modal-bady > .modal-content {
	margin: 60px 0 40px 0;
	width: 100%;
    height: 540px;
    justify-content: space-between;
}

.approval-modal>.modal-bady > .modal-content > .de-form {
	border: 1px solid #222;
	width: 280px;
	height: 100%;
}

.approval-modal>.modal-bady > .modal-content > .em-form {
	border: 1px solid #222;
	width: 280px;
	height: 100%;
}
.approval-modal>.modal-bady > .modal-content > .btn-form {
	width: 50px;
	height: 100%;
}
.approval-modal>.modal-bady > .modal-content > .re-form {
	width: 280px;
	height: 100%;
}

.approval-modal>.modal-bady > .modal-content > .re-form > .title {
	margin-bottom: 10px;
}
.approval-modal>.modal-bady > .modal-content > .re-form > .wrap {
	border: 1px solid #222;
	width: 100%;
	height: 100px;
}
.approval-modal>.modal-bady > .btn-area {
	margin-right: 20px;
}
.approval-modal>.modal-bady > .btn-area > button {
	width: 100px;
    height: 50px;
    margin-left: 30px;
    border-radius: 5px;
    border: 1px solid #a9a9a9;
}

/************************************/
.de-form {
    width: 300px;
}

.depart {
    list-style: none;
    padding-left: 0;
}

.depart li {
    margin-bottom: 10px;
}

.depart span {
    cursor: pointer;
}

/* 트리 구조 스타일 */
.depart ul {
    padding-left: 20px;
    border-left: 1px solid #ccc;
    margin-left: 10px;
}

.depart ul ul {
    border-left: none;
    margin-left: 0;
}

/***********************************/
.em-form > p:hover{
	background-color: #a9a9a9;
}
/**********************************/
.btn-form > img {
	width: 100%;
	cursor: pointer;
}
.btn-form > img:first-of-type {
	margin-bottom: 20px;
}