@charset "EUC-KR";

.table tbody tr {

    padding:0.5em 0 !important;
}
main{
	
	justify-content: space-between;
}

td{
	
	border-bottom: none;
	
}

.list_group_item {
	
    width: 300px;
}

.list_group li {
 
    justify-content: space-between;
}